/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-color-rgb: 255, 0, 112;
  --content-color: #000028;
  --text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
}

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-color-rgb: 255, 0, 112;
  --content-color: #000028;
  --text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);

  .header__theme-menu-button {
      color: var(--accent-color);
    }

    .header__theme-menu-button:focus-visible {
      border-color: var(--accent-color);
    }

    .header__theme-menu-button_active {
      outline-color: var(--accent-color);
    }

    .decorated-zone::before {
    border-color: var(--accent-color);
  }

  .decorated-zone::after {
    border-color: var(--accent-color);
  }

  .rec-bulb {
    visibility: visible;
  }
}