/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-color-rgb: 53, 52, 48;
    --content-color: #353430;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);

  .main-title {
    color: var(--content-color);
  }

  .header__theme-menu-button {
    color: var(--content-color);
  }

  .header__theme-menu-button:focus-visible {
    border-color: var(--content-color);
  }

  .header__theme-menu-button_active {
    outline-color: var(--content-color);
  }

  .rec-bulb {
    display: block;
    visibility: hidden;
  }

  .decorated-zone::before {
    border-color: var(--content-color);
  }

  .decorated-zone::after {
    border-color: var(--content-color);
  }
  }
}


  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  :root.theme-light {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-color-rgb: 53, 52, 48;
    --content-color: #353430;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);

    .main-title {
      color: var(--content-color);
    }
    .header__theme-menu-button {
      color: var(--content-color);
    }

    .header__theme-menu-button:focus-visible {
      border-color: var(--content-color);
    }

    .header__theme-menu-button_active {
      outline-color: var(--content-color);
    }

    .rec-bulb {
      display: block;
      visibility: hidden;
    }

    .decorated-zone::before {
      border-color: var(--content-color);
    }

    .decorated-zone::after {
      border-color: var(--content-color);
    }
  }