/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  min-block-size: 668px;
  display: grid;
  grid-template-rows: min-content auto auto auto;
  padding: 10px;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 1.5%;
  right: 2.5%;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 1.5%;
  left: 2.5%;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.rec-bulb {
  align-self: end;
  justify-self: end;
  font-size: var(--text-size);
  line-height: 25px;
  font-weight: var(--weight-normal);
  font-family: var(--ft-family);
  text-transform: uppercase;
  position: relative;
  color: var(--accent-color);
  padding: 0 29px 15px 0;
  grid-row: 1;
}

.rec-bulb::after {
  content: '';
  position: absolute;
  top: 33%;
  right: 15%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 5px 2px currentColor;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-item {
  font-size: var(--text-size);
  line-height: 18px;
  font-weight: var(--weight-normal);
  font-family: var(--ft-family);
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(var(--accent-color-rgb), 0.4);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button {
  all: unset;
  color: var(--accent-color);
  padding: 1px 13px 4px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header-title {
  font-family: var(--ft-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--weight-bold);
  line-height: 83%;
  color: var(--title-color);
  padding: 35px 0 0 0;
}

.header-content-text {
  color: var(--content-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-weight: var(--weight-bold);
  font-family: var(--ft-family);
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
padding: 40px 10px 40px;
}

.main-section:nth-child(n+2) {
  padding-top: 50px;
}

.main-title {
  color: var(--accent-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
}

.main-group {
  padding-top: 20px;
}

.main-secondary-title {
  color: var(--content-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
}

.main-secondary-title:nth-child(n+3):nth-child(-n+5) {
  margin-block-start: 20px;
}

.main-text {
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
  padding-top: 10px;
}

.main-third-title {
  color: var(--content-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
  font-weight: var(--weight-normal);
  margin-top: 20px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main-image {
  inline-size: 100%;
  max-inline-size: 100%;
  padding-top: 10px;
  display: block;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: flex;
  justify-content: center;
}

.footer-title {
  align-self: center;
  font-family: var(--ft-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: var(--weight-bold);
  line-height: 83%;
  color: var(--title-color);
}

@media (width >= 768px) {

  .header {
    min-block-size: 1024px;
    padding: 20px 20px 20px 0;
    grid-template-rows: min-content 1fr 1fr 1fr;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 100px;
  }

  .rec-bulb {
    padding: 0 29px 0 0;
  }

  .rec-bulb::after {
    top: 50%;
    right: 15%;
  }

  .decorated-zone::before {
    top: 2%;
    right: 2.6%;
  }

  .decorated-zone::after {
    bottom: 2%;
    left: 2.6%;
  }

  .header__theme-menu {
    padding-top: 75px;
  }

  .header-content {
    padding: 40px 0 0 384px;
  }

  .main {
    padding: 40px 10px 60px;
  }

  .main-section-why {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-title-why {
    padding: 20px 20px 0 10px;
  }

  .main-group-why {
    grid-column: 2 / 4;
    padding: 20px 10px 0 17px;
  }

  .main-section-what {
    padding: 70px 10px 0 10px;
  }
  .main-section:nth-child(n+2) {
    padding-top: 80px;
  }

  .main-title-what {
    padding: 0 512px 0 0;
  }

  .main-section-how {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-title-how {
    padding: 0 10px 0 10px;
  }

  .main-group-how {
    grid-column: 2 / 4;
    padding: 0 10px 0 16px;
  }

  .main-section-image {
    padding: 0 10px 0 10px;
  }

  .main-groug-image {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-top: 20px;
  }

  .main-image {
    display: block;
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
    padding: 0;
  }

  .main-image-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main-image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .main-image-tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .main-image-books {
    grid-column: 2;
    grid-row: 2;
  }

  .main-image-street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: repeat(6, 1fr);
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 275px;
    grid-row: 2;
    grid-column: 1 / 6;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 2 / 6;
    justify-self: center;
    padding: 0 0 0 22px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .rec-bulb {
    grid-row: 1;
    grid-column: 6;
    justify-self: end;
  }

  .decorated-zone::before {
    top: 2.6%;
    right: 2%;
  }

  .decorated-zone::after {
    bottom: 2.6%;
    left: 2%;
  }

  .header-content {
    grid-row: 3;
    grid-column: 4 / 7;
    padding: 0 0 115px 10px;
  }

  .main-group-why {
    padding: 20px 10px 0 10px;
  }

  .main-title-what {
    padding: 0 712px 0 0;
  }

  .main-group-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 18px;
  }

  .main-secondary-title {
    grid-row: 1;
  }

  .main-secondary-title:nth-child(n+3):nth-child(-n+5) {
  margin-block-start: 0;
}

  .main-group-how {
    padding: 0 10px 0 10px;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}