/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--content-color);
}

.header {
  block-size: 10vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr 0.3fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.rec-bulb {
  justify-self: end;
  font-size: var(--text-size);
  line-height: 25px;
  font-weight: var(--weight-normal);
  font-family: var(--ft-family);
  text-transform: uppercase;
  padding: 10px 38px 28px 304px;
  position: relative;
  color: var(--accent-color);
}

.rec-bulb::after {
  content: '';
  position: absolute;
  top: 36%;
  right: 5%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 5px 2px currentColor;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.header__theme-menu-item {
  font-size: var(--text-size);
  line-height: 18px;
  font-weight: var(--weight-normal);
  font-family: var(--ft-family);
  text-transform: lowercase;
  padding: 13px 9px 0 0;
}

.header__theme-menu-button {
  all: unset;
  color: var(--accent-color);
  padding: 1px 13px 4px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header-title {
  font-family: var(--ft-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--weight-bold);
  line-height: 83%;
  color: var(--title-color);
  padding: 0 10px 10px;
}

.header-content {
  padding: 45px 10px 0;
}

.header-content-text {
  color: var(--content-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-weight: var(--weight-bold);
  font-family: var(--ft-family);
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
padding: 40px 10px 40px;
}

.main-section:nth-child(n+2) {
  padding-top: 50px;
}

.main-title{
  color: var(--accent-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
}

.main-group {
  padding-top: 20px;
}

.main-secondary-title {
  color: var(--content-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
}

.main-text {
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
  padding-top: 10px;
}

.main-third-title {
  color: var(--content-color);
  font-size: var(--text-size);
  line-height: var(--line-height-text);
  font-family: var(--ft-family);
  font-weight: var(--weight-normal);
  margin-top: 20px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main-image {
  inline-size: 95vw;
  padding-top: 9px;
  display: block;
}

.footer {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
block-size: 40vh;
min-block-size: 668px;
}

.footer-title {
  align-self: center;
  justify-self: center;
  font-family: var(--ft-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: var(--weight-bold);
  line-height: 83%;
  color: var(--title-color);
}

@media (width >= 768px) {

  .header {
    min-block-size: 1024px;
  }

  .rec-bulb {
    padding: 20px 49px 0 0;
  }

  .rec-bulb::after {
    top: 72%;
    right: 35%;
  }

  .decorated-zone::before {
    top: 2%;
    right: 2.6%;
  }

  .decorated-zone::after {
    bottom: 2%;
    left: 2.6%;
  }

  .header__theme-menu {
    padding: 135px 10px 0 0;
  }

  .header-title {
    padding: 123px 0 0 0;
  }

  .header-content {
    padding: 85px 20px 0 384px;
  }

  .main {
    padding: 40px 10px 60px;
  }

  .main-section-why {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-title-why {
    padding: 20px 20px 0 10px;
  }

  .main-group-why {
    grid-column: 2 / 4;
    padding: 20px 10px 0 17px;
  }

  .main-section-what {
    padding: 70px 10px 0 10px;
  }
  .main-section:nth-child(n+2) {
    padding-top: 80px;
  }

  .main-title-what {
    padding: 0 512px 0 0;
  }

  .main-section-how {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-title-how {
    padding: 0 10px 0 10px;
  }

  .main-group-how {
    grid-column: 2 / 4;
    padding: 0 10px 0 16px;
  }

  .main-section-image {
    padding: 0 10px 0 10px;
  }

  .main-groug-image {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-top: 20px;
  }

  .main-image {
    display: block;
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
    padding: 0;
  }

  .main-image-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main-image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .main-image-tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .main-image-books {
    grid-column: 2;
    grid-row: 2;
  }

  .main-image-street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: start;
    align-self: end;
    padding: 0;
    grid-row: 1;
    grid-column: 2;
  }

  .header__theme-menu-list {
    display: flex;
    padding-top: 21px;
    gap: 10px;
  }

  .header__theme-menu-item {
    padding: 0;
  }

  .rec-bulb {
    grid-row: 1;
    grid-column: 3;
    justify-self: ;
  }
}